*{
    box-sizing: border-box;
}
body{
    background:url(img/a2.jpg) no-repeat;
    display: flex;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}
h1{
    font-weight: bolder;
    margin: 0;

}
h2{
    text-align: center;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
a{
    color: #e5d9d9;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    border-radius: 20px;
    border: 1px  solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}
button:focus{
    outline:none;
}
button.ghost{
    background-color: transparent;
    border-color: transparent;
}
form{
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    
}
input{
    background-color:transparent;
    border:100% ;
    border-radius: 150px ;
    padding: 12px ;
    margin: 8px 0;
    width: 100%;
    font-weight: bolder;

}
.container{
    background-color:transparent;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form.container{
    position:absolute;
    top: 0;
    height: 100%;
}
.sign-in-container{
    left: 0;
    width: 100%;
}

.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid #dddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
footer{
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position:fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
footer p{
    margin: 10px 0;
}
footer i{
    color:red;
}
footer a{
    color: #3c97bc;
    text-decoration: none;
}
button:hover{
    color: #222;
}
form input::placeholder{
    color: #fff;
    font-size: 10px;
}